body {
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
}

section {
    width: 100%;
    height: 100vh;
}

.sec1 {
    background-image: url(image2.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.sec2 {
    background-image: url(image1.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.sec3 {
    background-image: url(image3.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.sec4 {
    background-image: url(image4.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.content {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    text-align: justify;
    padding: 100px;
}

.content h1 {
    margin: 0;
    padding: 0;
    font-size: 48px;
    color: #262626; 
}

.content p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #262626; 
}